main {
    width: min(110em, 100%);
    margin: auto;
    height: 55em;
    padding-top: 6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container {
    background-image: linear-gradient(var(--Light_Blue), var(--White));
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    display: flex;
    padding: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 2em;
}
.hero_container h1 {
    color: var(--Black);
    font-family: var(--Sora_Regular);
    text-align: center;
    font-weight: 500;
    line-height: 1;
    font-size: 4em;
}

.hero_container h3 {
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    width: 60%;
}

.hero_btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.hero_btn {
    padding: 1em 1.5em;
    border-radius: 10em;
    border: solid 0.01em var(--Light_Gray);
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.hero_image_container {
    width: 100%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.companies_section {
    width: min(110em, 100%);
    margin: auto;
    height: fit-content;
    position: relative;
    padding-block: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

.companies_container svg {
    height: 1.8em;
}

.features_section {
    position: relative;
    width: min(110em, 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-block: 3em;
}

.features_title {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.features_title p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    line-height: 3;
    color: var(--Gray);
}

.features_title h1 {
    font-family: var(--Sora_Regular);
    font-size: 2.3em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: var(--Black);
}

.features_container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features {
    display: flex;
    padding-block: 3em;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
}

.feature_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2em;
    width: 50%;
    height: 22em;
}

.feature_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
    width: 50%;
}

.feature_info h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 1.5em;
    color: var(--Black);
}

.feature_info h3 {
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 400;
    color: var(--Gray);
}

.feature_btn {
    padding: 1em 1.5em;
    border-radius: 10em;
    border: solid 0.01em var(--Light_Gray);
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.results_section {
    width: min(110em, 100%);
    margin: auto;
    position: relative;
    padding-block: 2em;
}

.results_title {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.results_title p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 3;
    color: var(--Gray);
}

.results_title h3 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 2em;
    line-height: 1;
    color: var(--Black);
}

.results_container {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    padding-block: 4em;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 10em;
    padding-bottom: 2em;
}

.results svg {
    height: 2em;
    margin-bottom: 2em;
    color: var(--Primary_Blue);
}

.results h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 3.5em;
    color: var(--Black);
}

.results p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--Black);
}

.testimonial_section {
    width: min(110em, 100%);
    padding-block: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    margin: auto;
}

.testimonial_title {
    width: 80%;
}

.testimonial_title p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    line-height: 3;
    color: var(--Gray);
    text-align: center;
}

.testimonial_title h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 2em;
    line-height: 1;
    color: var(--Black);
    text-align: center;
}

.testimonial_container {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
    padding-bottom: 3em;
    border-bottom: solid 0.01em var(--Light_Gray);
}

.testimonial_image {
    height: 15em;
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    padding: 2em;
}

.testimonial_image h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 4em;
    color: var(--White);
}

.testimonial_image p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--White);
}

.testimonial_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 1em;
    width: 60%;
}

.testimonial_rating {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.2em;
}

.testimonial_rating svg {
    height: 1.2em;
    color: var(--Primary_Blue);
}

.testimonial_info h4 {
    color: var(--Black);
    font-family: var(--Sora_Regular);
    font-size: 1.4em;
    font-weight: 500;
}

.testimonial_profile {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
}

.testimonial_user_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    outline: solid 0.15em var(--Primary_Blue);
}

.testimonial_user_detail h6 {
    color: var(--Black);
    font-size: 1em;
    font-weight: 500;
    font-family: var(--Inter_Thin);
}

.testimonial_user_detail p {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.8em;
    font-weight: 400;
}

.teamwork_section {
    width: min(110em, 100%);
    padding-block: 3em;
    margin: auto;
    position: relative;
}

.teamwork_title {
    width: 80%;
    margin: auto;
}

.teamwork_title p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    line-height: 3;
    color: var(--Gray);
}

.teamwork_title h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 2em;
    line-height: 1;
    color: var(--Black);
    text-align: center;
}

.teamwork_container {
    padding-block: 1em;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    border-bottom: solid 0.01em var(--Light_Gray);
}

.teamwork_info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
    width: 50%;
}

.teamwork_info h4 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 1.5em;
    color: var(--Black);
}

.teamwork_info p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1em;
    color: var(--Gray);
}

.teamwork_image {
    width: 50%;
    height: 30em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.teamwork_get_started_btn_container {
    width: min(110em, 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 5em 15em;
}

.teamwork_get_started_btn_container a {
    padding: 1em 1.5em;
    border: solid 0.01em var(--Light_Gray);
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1em;
    color: var(--Black);
    border-radius: 9em;
}

.questions_section {
    width: min(110em, 100%);
    padding-bottom: 10em;
    margin: auto;
}

.questions_container {
    width: 80%;
    margin: auto;
    border-radius: 2em;
    padding: 5em;
    background-image: linear-gradient(var(--Light_Blue), var(--White));
}

.questions_title h1 {
    text-align: center;
    font-family: var(--Sora_Regular);
    font-size: 2.2em;
    font-weight: 500;
    color: var(--Black);
}

.questions_title p {
    text-align: center;
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 400;
    color: var(--Black);
}

.questions_order_div {
    padding-block: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.questions {
    width: 100%;
    cursor: pointer;
    padding: 1.5em;
    border-radius: 1.5em;
    border: solid 0.01em var(--Light_Gray);
}

.question_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question_main h3 {
    font-family: var(--Sora_Regular);
    font-weight: 600;
    font-size: 1.1em;
    color: var(--Black);
}

.question_main svg {
    color: var(--Black);
    height: 1em;
    transition: rotate 300ms;
}

.question_answer p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1em;
    color: var(--Black);
}

.question_answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 300ms, padding-top 300ms;
}

.answer_open {
    grid-template-rows: 1fr;
    padding-top: 1em;
}

.svg_rotated {
    rotate: 45deg;
}

.question_answer > div {
    overflow: hidden;
}

.questions_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions_contact h1 {
    font-family: var(--Sora_Regular);
    font-size: 2.2em;
    font-weight: 500;
    color: var(--Black);
}

.questions_contact p {
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 400;
    color: var(--Black);
}

.questions_contact a {
    padding: 1em 1.5em;
    margin-top: 1em;
    border-radius: 9em;
    font-family: var(--Sora_Regular);
    font-size: 1em;
    font-weight: 400;
    color: var(--White);
}

@media (width < 1000px) {
    .hero_container {
        width: 90%;
    }

    .hero_container h1 {
        font-size: 3.3em;
    }

    .hero_container h3 {
        width: 90%;
    }

    .companies_section {
        padding-inline: 5%;
    }

    .companies_container svg {
        height: 1.6em;
    }

    .features_section {
        padding: 3em 5%;
    }

    .features_container {
        width: 100%;
    }

    .feature_image {
        height: 20em;
    }

    .features_title {
        width: 100%;
    }

    .results {
        margin-bottom: 2em;
    }

    .results_container,
    .results_title {
        width: 90%;
    }

    .results h1 {
        font-size: 3em;
    }

    .results p {
        font-size: 0.8em;
    }

    .results svg {
        margin-bottom: 2em;
    }

    .testimonial_container {
        width: 90%;
    }

    .testimonial_title {
        width: 90%;
    }

    .testimonial_image h1 {
        font-size: 3.5em;
    }

    .testimonial_image p {
        font-size: 0.8em;
    }

    .teamwork_title,
    .teamwork_container {
        width: 90%;
    }
}

@media (width < 750px) {
    .hero_container {
        justify-content: start;
    }

    .hero_btn_container {
        width: 100%;
        flex-direction: column;
    }

    .hero_btn {
        width: 100%;
    }

    .hero_container h1 {
        font-size: 3em;
    }

    .hero_container h3 {
        width: 100%;
        font-size: 1em;
    }

    .companies_container svg {
        height: 1.4em;
    }

    .features {
        flex-direction: column;
        padding-block: 0;
    }

    .features_title p {
        font-size: 0.8em;
    }

    .features_title h1 {
        font-size: 1.8em;
    }

    .features_container {
        padding-block: 2em;
        gap: 5em;
    }

    .feature_image,
    .feature_info {
        width: 100%;
    }

    .feature_info h1 {
        font-size: 1.6em;
    }

    .feature_info h3 {
        font-size: 1em;
    }

    .results_title p {
        font-size: 0.8em;
    }

    .results_title h3 {
        font-size: 1.5em;
    }

    .results_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial_title p {
        font-size: 0.8em;
    }

    .testimonial_title h1 {
        font-size: 1.5em;
    }

    .testimonial_container {
        flex-direction: column;
        gap: 2em;
        padding-bottom: 3em;
    }

    .testimonial_image {
        width: 100%;
        height: fit-content;
        align-items: start;
        justify-content: center;
    }

    .testimonial_image h1 {
        font-size: 2.8em;
    }

    .testimonial_info {
        width: 100%;
        gap: 0.5em;
    }

    .testimonial_rating svg {
        height: 1em;
    }

    .testimonial_info h4 {
        font-size: 1.2em;
    }

    .testimonial_user_detail h6 {
        font-size: 0.9em;
    }

    .testimonial_user_detail p {
        font-size: 0.7em;
    }

    .testimonial_user_image {
        width: 2.5em;
        height: 2.5em;
    }

    .teamwork_title p {
        font-size: 0.8em;
    }

    .teamwork_title h1 {
        font-size: 1.5em;
    }

    .teamwork_container {
        padding-block: 1em;
    }

    .teamwork_info {
        width: 65%;
    }

    .teamwork_info h4 {
        font-size: 1.2em;
    }

    .teamwork_info p {
        font-size: 0.9em;
    }

    .teamwork_image {
        width: 35%;
        height: 15em;
    }

    .teamwork_get_started_btn_container a {
        width: 90%;
        text-align: center;
    }
}

@media (width < 500px) {
    .hero_container {
        padding: 2em;
    }

    .hero_container h1 {
        font-size: 2.6em;
    }

    .hero_image_container {
        width: 120%;
    }

    .features_title h1,
    .results_title h3,
    .testimonial_title h1,
    .teamwork_title h1 {
        font-size: 1.4em;
    }

    .feature_image {
        height: 8em;
    }

    .features,
    .feature_info {
        gap: 0.5em;
    }

    .feature_info h1 {
        font-size: 1.1em;
    }

    .feature_info h3 {
        font-size: 0.9em;
    }

    .results {
        width: 8em;
    }

    .results svg {
        margin-bottom: 1em;
        height: 1.5em;
    }

    .results h1 {
        font-size: 2.5em;
    }

    .results p {
        font-size: 0.75em;
    }

    .testimonial_image h1 {
        font-size: 2.3em;
    }

    .testimonial_image p {
        font-size: 0.7em;
    }

    .testimonial_info h4 {
        font-size: 0.9em;
    }

    .teamwork_container {
        padding-block: 2.5em;
        flex-direction: column;
        gap: 0.5em;
    }

    .teamwork_info,
    .teamwork_image {
        width: 100%;
    }

    .teamwork_info h4 {
        font-size: 1.1em;
        margin: auto;
        text-align: center;
    }

    .teamwork_info p {
        font-size: 0.8em;
        text-align: center;
    }
}

@media (width < 300px) {
    .results_container {
        grid-template-columns: repeat(1, 1fr);
    }
}
