*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: Inter_Thin;
    src: url(/Fonts/Inter_Thin.ttf);
}
@font-face {
    font-family: Sora_Regular;
    src: url(/Fonts/Sora_Regular.ttf);
}

:root {
    /* Colors */
    --Primary_Blue: #3b5aff;
    --Light_Blue: #eff1fa;
    --Primary_Orange: #ff5c21;
    --Black: #151516;
    --White: #fafafa;
    --Gray: #717175;
    --Light_Gray: rgb(209, 205, 204);

    /* Fonts */
    --Inter_Thin: Inter_Thin, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --Sora_Regular: Sora_Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
    z-index: 9;
    position: fixed;
    inset: 0 10% auto 10%;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.01em var(--Light_Gray);
    background-color: var(--White);
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo svg {
    height: 1.5em;
    color: var(--Black);
    transition-property: color;
    transition-duration: 300ms;
}

.nav_logo svg:hover {
    color: var(--Primary_Orange);
}

.nav_left_right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2em;
}

.nav_links_left {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.2em;
    transition-property: color;
    transition-duration: 300ms;
}

.nav_links_left:hover:not(#current_page) {
    color: var(--Primary_Blue);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

#hamburger_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 2.2em;
    height: 2em;
    gap: 0.2em;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
}

#ham_btn_lines {
    background-color: var(--Black);
    width: 100%;
    height: 0.12em;
}

.get_started {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.9em 1.2em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
}

.orange_hover_btn {
    transition-property: background-color, color, border-color;
    transition-duration: 300ms;
}

.orange_hover_btn:hover {
    background-color: var(--Primary_Orange);
    color: var(--White);
    border-color: var(--Primary_Orange);
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
    transition-property: background-color, border-color;
    transition-duration: 300ms;
}

.user:hover {
    background-color: var(--Primary_Blue);
    border-color: var(--Primary_Blue);
}
.user:hover svg {
    color: var(--White);
}

.user svg {
    height: 1.5em;
    color: var(--Gray);
    transition-property: color;
    transition-duration: 300ms;
}

main {
    height: 55em;
    padding-top: 8em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_container {
    background-color: yellowgreen;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 3em 0;
    border-radius: 2em;
}

@media (width < 1000px) {
    nav {
        inset: 0 0 auto 0;
        padding: 1em 3em;
    }

    .nav_left_right,
    .user,
    .get_started {
        display: none;
    }

    #hamburger_btn {
        display: flex;
    }
}

@media (width < 500px) {
    nav {
        padding: 1em;
    }

    .nav_logo svg {
        height: 1.2em;
    }
}
