*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

@font-face {
    font-family: Inter_Thin;
    src: url(Fonts/Inter_Thin.ttf);
}
@font-face {
    font-family: Sora_Regular;
    src: url(Fonts/Sora_Regular.ttf);
}

:root {
    /* Colors */
    --Primary_Blue: rgb(59, 90, 255);
    --Light_Blue: rgb(231, 236, 251);
    --Dark_Blue: rgb(18, 26, 71);
    --Primary_Orange: rgb(255, 92, 33);
    --Black: rgb(17, 17, 17);
    --White: rgb(250, 250, 250);
    --Gray: rgb(88, 88, 90);
    --Light_Gray: rgb(221, 220, 220);

    /* Fonts */
    --Inter_Thin: Inter_Thin, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --Sora_Regular: Sora_Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
    z-index: 9;
    position: fixed;
    inset: 0 10% auto 10%;
    padding: 0.5em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 0.01em var(--Light_Gray);
    background-color: var(--White);
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo svg {
    height: 1.5em;
    color: var(--Black);
}

.nav_left_right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2em;
}

.nav_links_left {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.2em;
    transition-property: color;
    transition-duration: 300ms;
}

.nav_links_left:hover:not(#current_page) {
    color: var(--Primary_Blue);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.hamburger_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 2.2em;
    height: 2em;
    gap: 0.2em;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
}

.ham_btn_lines {
    background-color: var(--Black);
    width: 100%;
    height: 0.12em;
}

.get_started {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.9em 1.2em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
}

.orange_hover_btn {
    transition-property: background-color, color, border-color;
    transition-duration: 300ms;
}

.orange_hover_btn:hover {
    background-color: var(--Primary_Orange);
    color: var(--White);
    border-color: var(--Primary_Orange);
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
    transition-property: background-color, border-color;
    transition-duration: 300ms;
}

.user:hover {
    background-color: var(--Primary_Blue);
    border-color: var(--Primary_Blue);
}
.user:hover svg {
    color: var(--White);
}

.user svg {
    height: 1.5em;
    color: var(--Gray);
    transition-property: color;
    transition-duration: 300ms;
}

main {
    width: min(110em, 100%);
    margin: auto;
    height: 55em;
    padding-top: 6em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero_container {
    background-image: linear-gradient(var(--Light_Blue), var(--White));
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    display: flex;
    padding: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border-radius: 2em;
}
.hero_container h1 {
    color: var(--Black);
    font-family: var(--Sora_Regular);
    text-align: center;
    font-weight: 500;
    font-size: 4em;
}

.blue_text {
    color: var(--Primary_Blue);
}

.hero_container h3 {
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1.1em;
    text-align: center;
    width: 60%;
}

.hero_btn_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}

.hero_btn {
    padding: 1em 1.5em;
    border-radius: 10em;
    border: solid 0.01em var(--Light_Gray);
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
}

.blue_gradient_btn {
    border-color: transparent;
    color: var(--White);
    background-image: linear-gradient(90deg, var(--Primary_Blue), var(--Dark_Blue));
    background-repeat: no-repeat;
    border: solid 0.01em linear-gradient(90deg, var(--Primary_Blue), var(--Dark_Blue));
}

.hero_image_container {
    width: 100%;
    height: 70%;
    background-image: url(Images/Hero_Image.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.companies_section {
    width: min(110em, 100%);
    margin: auto;
    height: fit-content;
    position: relative;
    padding-inline: 10%;
    padding: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.companies_container svg {
    height: 1.9em;
}

.features_section {
    position: relative;
    width: min(110em, 100%);
    margin: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding: 3em;

}

.features_title {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.features_title p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    text-align: center;
    line-height: 3;
    color: var(--Gray);
}

.features_title h1 {
    font-family: var(--Sora_Regular);
    font-size: 2.3em;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    color: var(--Black);
}

.features_container {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3em;
    padding-block: 2em;
}

.features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    width: 100%;
    height: 30giem;
}

.feature_image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2em;
    height: 90%;
    width: 50%;
}

.feature_image:nth-child(1) {
    background-image: url(Images/Feature_1.webp);
}
.feature_image:nth-child(2) {
    background-image: url(Images/Feature_2.webp);
}

.feature_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2em;
    width: 50%;
}

.feature_info:nth-child(1) {
    align-items: flex-end;
}
.feature_info:nth-child(2) {
    align-items: flex-start;
}

.feature_info h1 {
    font-family: var(--Sora_Regular);
    font-size: 2em;
    font-weight: 500;
    line-height: 1;
    color: var(--Black);
}

.feature_info h3 {
    font-family: var(--Inter_Thin);
    font-size: 1.1em;
    font-weight: 400;
    color: var(--Gray);
}

.feature_info:nth-child(1) h1,
.feature_info:nth-child(1) h3 {
    text-align: right;
}

.feature_btn {
    padding: 1em 1.5em;
    border-radius: 10em;
    border: solid 0.01em var(--Light_Gray);
    color: var(--Black);
    font-family: var(--Inter_Thin);
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

.a {
    height: 200vh;
}

@media (width < 1000px) {
    nav {
        inset: 0 0 auto 0;
        padding: 1em 3em;
    }

    .nav_left_right,
    .user,
    .get_started {
        display: none;
    }

    .hamburger_btn {
        display: flex;
    }

    .hero_container {
        width: 90%;
    }

    .hero_container h1 {
        font-size: 3.3em;
    }

    .hero_container h3 {
        width: 90%;
    }

    .companies_section {
        padding-inline: 5%;
    }

    .companies_container svg {
        height: 1.6em;
    }
}

@media (width < 700px) {
    .hero_container {
        justify-content: start;
    }

    .hero_btn_container {
        width: 100%;
        flex-direction: column;
    }

    .hero_btn {
        width: 100%;
    }

    .hero_container h1 {
        font-size: 3em;
    }

    .hero_container h3 {
        width: 100%;
        font-size: 1em;
    }

    .companies_container svg {
        height: 1.4em;
    }
}

@media (width < 500px) {
    nav {
        padding: 1em;
    }

    .nav_logo svg {
        height: 1.2em;
    }

    .hero_container {
        padding: 2em;
    }

    .hero_container h1 {
        font-size: 2.6em;
    }

    .hero_image_container {
        width: 120%;
    }
}
