/* Lenis Smooth Scroll */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
}

body,
html {
    overflow: hidden auto;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: var(--White);
}

@font-face {
    font-family: Inter_Thin;
    src: url(Fonts/Inter_Thin.ttf);
}
@font-face {
    font-family: Sora_Regular;
    src: url(Fonts/Sora_Regular.ttf);
}

:root {
    /* Colors */
    --Primary_Blue: rgb(59, 90, 255);
    --Light_Blue: rgb(231, 236, 251);
    --Dark_Blue: rgb(12, 21, 77);
    --Primary_Orange: rgb(255, 92, 33);
    --Black: rgb(17, 17, 17);
    --White: rgb(250, 250, 250);
    --Gray: rgb(88, 88, 90);
    --Light_Gray: rgb(221, 220, 220);

    /* Fonts */
    --Inter_Thin: Inter_Thin, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --Sora_Regular: Sora_Regular, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.blue_text {
    color: transparent;
    background-image: linear-gradient(90deg, var(--Primary_Blue), var(--Dark_Blue));
    background-clip: text;
    background-repeat: no-repeat;
    background-position: center;
}

.blue_gradient_btn {
    border-color: transparent;
    color: var(--White);
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, var(--Primary_Blue), var(--Dark_Blue));
    border: solid 0.01em linear-gradient(90deg, var(--Primary_Blue), var(--Dark_Blue));
}

.blue_gradient_btn:hover {
    background-color: var(--Primary_Blue);
    background-image: none;
}

.orange_hover_btn {
    transition-property: background-color, color, border-color;
    transition-duration: 300ms;
}

.orange_hover_btn:hover {
    background-color: var(--Primary_Orange);
    color: var(--White);
    border-color: var(--Primary_Orange);
}

nav {
    z-index: 9;
    position: fixed;
    inset: 0 0 auto 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: solid 0.01em var(--Light_Gray);
    padding-block: 0.5em;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo svg {
    height: 1.5em;
    color: var(--Black);
}

.nav_left_right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2em;
}

.nav_links_left {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.2em;
    transition-property: color;
    transition-duration: 300ms;
}

.nav_links_left:hover:not(#current_page) {
    color: var(--Primary_Blue);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.hamburger_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 2.2em;
    height: 2em;
    gap: 0.2em;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
}

.ham_btn_lines {
    background-color: var(--Black);
    width: 100%;
    height: 0.12em;
    transform-origin: center;
    transition-property: transform, opacity;
    transition-duration: 400ms;
}

.line_1_transformed {
    transform: translateY(0.5em) rotate(45deg);
}
.line_2_transformed {
    opacity: 0;
}
.line_3_transformed {
    transform: translateY(-0.5em) rotate(-45deg);
}

.get_started {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.9em 1.2em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
    transition-property: background-color, border-color;
    transition-duration: 300ms;
}

.user:hover {
    background-color: var(--Primary_Blue);
    border-color: var(--Primary_Blue);
}
.user:hover svg {
    color: var(--White);
}

.user svg {
    height: 1.5em;
    color: var(--Gray);
    transition-property: color;
    transition-duration: 300ms;
}

.menu_section {
    z-index: 8;
    overflow: hidden;
    position: fixed;
    inset: 0;
    background-color: var(--White);
    overflow-y: auto;
    transform: translateY(-105%);
    transition: transform 400ms;
}

.menu_open {
    transform: translateY(0);
}

.menu_container {
    width: 90%;
    margin: auto;
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.menu_links {
    width: 100%;
    border-bottom: solid 0.01em var(--Light_Gray);
    text-align: center;
    padding-block: 2em;
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--Black);
    transition: color 200ms;
}

.menu_links:not(.menu_active):hover {
    color: var(--Primary_Blue);
}

.menu_bottom {
    margin-block: 3em;
    height: 2.7em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.menu_user {
    height: 100%;
    padding-inline: 0.5em;
    border: solid 0.01em var(--Light_Gray);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color, border;
    transition-duration: 200ms;
}

.menu_user:hover {
    background-color: var(--Primary_Blue);
    border: solid 0.01em var(--Primary_Blue);
}

.menu_user:hover svg {
    color: var(--White);
}

.menu_user svg {
    height: 1.5em;
    color: var(--Gray);
    transition-property: color;
    transition-duration: 200ms;
}

.menu_get_started {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0.01em var(--Light_Gray);
    border-radius: 9em;
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--Black);
}

footer {
    position: relative;
    background-color: var(--Black);
}

.footer_container {
    background-color: var(--Black);
    width: min(110em, 100%);
    margin: auto;
}

.footer_top {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    padding-block: 5em;
    border-bottom: solid 0.01em var(--Gray);
}

.footer_top_left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
}

.footer_top_left a svg {
    height: 1.5em;
    color: var(--White);
}

.footer_top_left h6 {
    font-family: var(--Sora_Regular);
    font-size: 1em;
    font-weight: 500;
    color: var(--White);
    line-height: 1;
}

.footer_input {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1em;
    width: 100%;
    height: 3em;
}

.footer_input input {
    padding-inline: 1em;
    width: 60%;
    height: 100%;
    border-radius: 0.5em;
    border: none;
    background-color: var(--White);
    font-family: var(--Sora_Regular);
    font-size: 1em;
    color: var(--Black);
}

.footer_input button {
    height: 100%;
    padding-inline: 1.5em;
    border-radius: 9em;
    cursor: pointer;
    font-family: var(--Sora_Regular);
    font-size: 1em;
    font-weight: 500;
}

.footer_top_left p {
    font-family: var(--Sora_Regular);
    font-size: 0.8em;
    line-height: 1;
    color: var(--White);
}

.footer_top_right {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2em;
}

.footer_top_right_col {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.8em;
}

.footer_top_right_col h6 {
    font-family: var(--Sora_Regular);
    font-weight: 600;
    font-size: 1em;
    color: var(--White);
    margin-bottom: 1em;
}

.footer_top_right_col a {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--White);
}

.footer_bottom {
    width: 80%;
    margin: auto;
    padding-block: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_bottom_left p,
.footer_bottom_left a {
    font-family: var(--Sora_Regular);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--White);
    text-align: center;
}

.footer_bottom_right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.footer_bottom_right a {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 0.9em;
    color: var(--White);
}

.footer_links {
    transition: color 200ms;
}
.footer_links:hover {
    color: var(--Primary_Blue);
}

@media (width > 1000px) {
    .menu_section {
        display: none;
    }
}

@media (width < 1000px) {
    .navigation {
        width: 100%;
        padding: 1em 2em;
    }

    .nav_left_right,
    .user,
    .get_started {
        display: none;
    }

    .hamburger_btn {
        display: flex;
    }

    .footer_top,
    .footer_bottom {
        width: 90%;
    }
}

@media (width < 800px) {
    .footer_top {
        flex-direction: column;
        padding-block: 2em;
    }

    .footer_top_right {
        width: 80%;
        justify-content: space-between;
    }

    .footer_top_right_col h6,
    .footer_top_right_col a {
        font-size: 1.1em;
    }
}

@media (width < 700px) {
    .footer_bottom {
        flex-direction: column;
        gap: 3em;
    }

    .footer_bottom_right {
        flex-direction: column;
    }

    .footer_bottom_left p,
    .footer_bottom_left a,
    .footer_bottom_right a {
        font-size: 1.1em;
    }
}

@media (width < 500px) {
    .nav_logo svg {
        height: 1.3em;
    }

    .footer_top {
        border-bottom: none;
    }

    .footer_top_left a svg {
        height: 1.3em;
    }

    .footer_input {
        flex-direction: column;
        align-items: start;
        height: fit-content;
    }

    .footer_input input,
    .footer_input button {
        padding-block: 1em;
        width: 100%;
    }

    .footer_top_right {
        width: 100%;
        flex-direction: column;
        align-items: start;
        gap: 2em;
    }

    .footer_top_right_col {
        border-bottom: solid 0.01em var(--Gray);
        width: 100%;
        padding-block: 1em;
    }
}
