nav {
    z-index: 9;
    position: fixed;
    inset: 0 0 auto 0;
    width: min(110em, 100%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--White);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: solid 0.01em var(--Light_Gray);
    padding-block: 0.5em;
}

.nav_left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5em;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_logo svg {
    height: 1.5em;
    color: var(--Black);
}

.nav_left_right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.2em;
}

.nav_links_left {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.2em;
    transition-property: color;
    transition-duration: 300ms;
}

.nav_links_left:hover:not(#current_page) {
    color: var(--Primary_Blue);
}

.nav_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.hamburger_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 2.2em;
    height: 2em;
    gap: 0.2em;
    padding: 0.3em;
    position: relative;
    cursor: pointer;
}

.ham_btn_lines {
    background-color: var(--Black);
    width: 100%;
    height: 0.12em;
}

.get_started {
    color: var(--Gray);
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 500;
    padding: 0.9em 1.2em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    border-radius: 9em;
    border: solid 0.01em var(--Light_Gray);
    transition-property: background-color, border-color;
    transition-duration: 300ms;
}

.user:hover {
    background-color: var(--Primary_Blue);
    border-color: var(--Primary_Blue);
}
.user:hover svg {
    color: var(--White);
}

.user svg {
    height: 1.5em;
    color: var(--Gray);
    transition-property: color;
    transition-duration: 300ms;
}

@media (width < 1000px) {
    .navigation {
        width: 100%;
        padding: 1em 1.5em;
    }

    .nav_left_right,
    .user,
    .get_started {
        display: none;
    }

    .hamburger_btn {
        display: flex;
    }
}

@media (width < 500px) {
    .nav_logo svg {
        height: 1.3em;
    }
}
