main {
    position: relative;
    width: min(110em, 100%);
    margin: auto;
}

.changelog_container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 5em;
}

.changelog_container h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 2.5em;
    color: var(--Black);
    margin-bottom: 3em;
}

.logs_div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.log {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding-block: 2em;
    border-bottom: solid 0.01em var(--Light_Gray);
}

.log p {
    font-family: var(--Sora_Regular);
    font-weight: 400;
    font-size: 1em;
    color: var(--Gray);
}

.log span {
    font-weight: 700;
    color: var(--Black);
}

@media (width < 800px) {
    .changelog_container {
        width: 90%;
    }

    .changelog_container h1 {
        font-size: 2em;
    }

    .log p {
        font-size: 0.9em;
    }
}