.product_hero_section {
    position: relative;
    margin: auto;
    width: min(110em, 100%);
}

.hero_container {
    width: 80%;
    margin: auto;
    padding-block: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.hero_left {
    width: 55%;
}

.hero_right {
    width: 45%;
    height: 30em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero_left h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 3.5em;
    color: var(--Black);
}

.hero_left p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1.1em;
    color: var(--Gray);
}

.hero_btn_container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1em;
    margin-top: 1em;
}

.hero_btn_container a {
    height: 100%;
    padding: 1em 1.5em;
    text-align: center;
    border-radius: 9em;
    font-family: var(--Inter_Thin);
    font-weight: 500;
    font-size: 1em;
}

.hero_container a:last-child {
    border: solid 0.01em var(--Light_Gray);
    color: var(--Black);
    &:hover {
        color: var(--White);
    }
}

.product_sub_hero_section {
    margin: auto;
    position: relative;
    width: min(110em, 100%);
    padding-block: 1em;
}

.sub_hero_container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    height: 15em;
}

.sub_hero {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1em;
}

.sub_left {
    display: flex;
    align-items: start;
    justify-content: center;
}

.sub_left svg {
    height: 2em;
    color: var(--Primary_Blue);
}

.sub_right h6 {
    font-family: var(--Sora_Regular);
    font-size: 1em;
    font-weight: 600;
    color: var(--Black);
    margin-bottom: 0.3em;
}

.sub_right p {
    font-family: var(--Inter_Thin);
    font-size: 0.9em;
    font-weight: 400;
    color: var(--Black);
}

@media (width < 1000px) {
    .hero_container {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding-top: 8em;
    }

    .hero_left {
        width: 90%;
    }

    .hero_left h1,
    .hero_left p {
        text-align: center;
    }

    .hero_btn_container {
        justify-content: center;
    }

    .hero_right {
        height: 25em;
        width: 90%;
        margin-top: 2em;
    }
}

@media (width < 800px) {
    .hero_btn_container {
        flex-direction: column;
        margin: 1em auto;
        width: 60%;
    }

    .hero_btn_container a {
        width: 100%;
    }

    .hero_left h1 {
        font-size: 2.5em;
    }

    .hero_left p {
        font-size: 1em;
    }
}

@media (width < 500px) {
    .hero_left p {
        font-size: 0.9em;
    }

    .hero_btn_container {
        width: 100%;
    }

    .hero_right {
        height: 20em;
        background-position: center top;
    }
}
