.meet_the_team_section {
    padding-block: 8em;
    margin: auto;
    width: min(110em, 100%);
    position: relative;
}

.meet_title {
    width: 80%;
    margin: auto;
}

.meet_title h1 {
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 3.5em;
    color: var(--Black);
    text-align: center;
    margin: auto;
}

.meet_title p {
    font-family: var(--Inter_Thin);
    font-weight: 400;
    font-size: 1.1em;
    color: var(--Black);
    text-align: center;
    margin: auto;
    width: 50%;
}

.this_is_us_section {
    background-color: var(--Black);
    position: relative;
}

.this_is_us_container {
    background-color: var(--Black);
    margin: auto;
    width: min(110em, 100%);
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding-block: 5em;
}

.this_is_us_title h6 {
    font-family: var(--Sora_Regular);
    font-size: 1.1em;
    font-weight: 500;
    color: var(--White);
    text-align: center;
}

.this_is_us_title h1 {
    font-family: var(--Sora_Regular);
    font-size: 3.5em;
    font-weight: 500;
    color: var(--White);
    text-align: center;
}
