main {
    position: relative;
    width: min(110em, 100%);
    margin: auto;
    padding-block: 5em;
}

.title {
    width: 80%;
    margin: auto;
    margin-bottom: 3em;
}

.title h1 {
    text-align: center;
    font-family: var(--Sora_Regular);
    font-weight: 500;
    font-size: 3em;
    color: var(--Black);
}

.title p {
    text-align: center;
    font-family: var(--Sora_Regular);
    font-weight: 400;
    font-size: 1.1em;
    color: var(--Black);
}

.instructions_container {
    width: 80%;
    margin: auto;
    padding-block: 8em;
}

.instruction {
    padding-block: 2em;
}

.instruction h3 {
    font-family: var(--Sora_Regular);
    font-size: 2em;
    font-weight: 500;
    color: var(--Black);
}

.instruction p {
    font-family: var(--Inter_Thin);
    font-size: 1.1em;
    font-weight: 400;
    color: var(--Black);
}

.links {
    color: var(--Black);
    font-weight: 600;
    transition: color 200ms;
}

.links:hover {
    color: var(--Primary_Blue);
}

@media (width < 1000px) {
    .instructions_container {
        width: 90%;
    }
}

@media (width < 800px) {
    .title h1 {
        font-size: 2.5em;
    }

    .instruction h3 {
        font-size: 1.5em;
    }

    .title p,
    .instruction p {
        font-size: 0.9em;
    }
}
